body, html {
	font-family: 'Open Sans', sans-serif;
	text-rendering: optimizeLegibility !important;
	-webkit-font-smoothing: antialiased !important;
	width: 100% !important;
	height: 100% !important;
	color: #000;
}
h1 {
	margin: 0;
}
h2 {
	margin: 0;
	color: #000;
	font-weight: 400;
	margin-bottom: 30px;
	font-size: 34px;
}
h3, h4 {
	color: #000;
	font-size: 20px;
	font-weight: 600;
}
h5 {
	text-transform: uppercase;
	font-weight: 700;
	line-height: 20px;
}
p.intro {
	font-size: 16px;
	margin: 12px 0 0;
	line-height: 24px;
	font-family: 'Open Sans', sans-serif;
}
a {
	color: #000;
}
a:hover, a:focus {
	text-decoration: none;
	color: #ffc000;
}
ul, ol {
	list-style: none;
}
.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}
.clearfix {
	display: inline-block;
}
* html .clearfix {
	height: 1%;
}
.clearfix {
	display: block;
}
ul, ol {
	padding: 0;
	webkit-padding: 0;
	moz-padding: 0;
}
hr {
	height: 4px;
	width: 70px;
	text-align: center;
	position: relative;
	background: #ffc000;
	margin: 0 auto;
	margin-bottom: 30px;
	border: 0;
}
/* Navigation */
#nav {
	z-index: 9999;
}
#nav.affix {
	position: fixed;
	top: 0;
	width: 100%
}
.navbar-custom {
	margin-bottom: 0;
	background-color: #000;
	border-radius: 0px;
}
.navbar-custom .navbar-brand {
	font-weight: 600;
	color: #fff;
}
.navbar-custom .navbar-brand:focus {
	outline: 0;
}
.navbar-custom .navbar-toggle {
	padding: 4px 6px;
	font-size: 16px;
	color: #fff;
}
.navbar-custom .navbar-toggle:focus,
.navbar-custom .navbar-toggle:active {
	outline: 0;
}
.navbar-custom a {
	color: #fff;
}
.navbar-custom .nav li a {
	text-transform: uppercase;
	letter-spacing: 1px;
	-webkit-transition: background .3s ease-in-out;
	-moz-transition: background .3s ease-in-out;
	transition: background .3s ease-in-out;
}
.navbar-custom .nav li a:hover {
	outline: 0;
	color: #ffc000;
	background-color: transparent;
}
.navbar-custom .nav li a:focus, .navbar-custom .nav li a:active {
	outline: 0;
	background-color: transparent;
	color: #ffc000;
}
.navbar-custom .nav li.active {
	outline: 0;
}
.navbar-custom .nav li.active a {
	background-color: rgba(255,255,255,.3);
}
.navbar-custom .nav li.active a:hover {
	color: #fff;
}
.navbar-custom .navbar-back {
	position: absolute;
	right: 0;
	top: 0;
}
.btn-default {
	color: #fff;
	background-color: transparent;
	border-color: #fff;
	padding: 10px 20px;
	margin: 0;
	font-size: 16px;
	border-radius: 0;
}
.btn-default:hover, .btn-default:focus, .btn-default.focus, .btn-default:active, .btn-default.active {
	color: #fff;
	background-color: #000;
	border-color: #000;
}
.btn-primary {
	color: #fff;
	background-color: #000;
	padding: 10px 20px;
	border-color: #000;
	border-radius: 0;
}
.btn-primary:hover, .btn-primary:focus, .btn-primary.focus, .btn-primary:active, .btn-primary.active {
	color: #fff;
	background-color: #ffc000;
	border-color: #ffc000;
}
.btn-primary i.fa {
	margin-right: 10px;
}
/* Home Section */
.header {
	position: relative;
}
.header .header-image {
	width: 100%;
}
.header.affix-affected {
	margin-bottom: 52px;
}
.intro {
	display: table;
	width: 100%;
	height: auto;
	padding: 100px 0;
	text-align: center;
	color: #fff;
	background: url(../img/intro-bg.jpg) no-repeat center top;
	background-color: #ffc000;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
	-o-background-size: cover;
}
.section-title.center {
	padding: 30px 0;
}
/* About Section */
#about {
	padding: 100px 0;
	background: #fff;
}
#about .dropdown {
	position: relative;
	left: 50%;
	width: 200px;
	margin-left: -92px;
	margin-bottom: 75px;
}
#about .dropdown .dropdown-menu {
	font-size: 16px;
	width: 183px;
}
#about .dropdown .fa-check {
	color: #ffc000;
	margin-left: 10px;
}
#about .dropdown .fa-language {
	font-size: 26px;
	vertical-align: -4px;
	margin-right: 10px;
}
#about .dropdown .dropdown-menu > li.selected {
	display: block;
	padding: 3px 20px;
	clear: both;
	font-weight: 400;
	line-height: 1.43;
	color: #333;
	white-space: nowrap;
}
#about img {
	border-radius: 50%;
	width: 200px;
	height: 200px;
	margin-bottom: 20px;
	display: inline-block;
	transition-duration: 1s;
}
#about .about-text {
	text-align: center;
	font-size: 16px;
}
#about .about-text .about-catchphrase {
	margin-bottom: 50px;
	font-size: 30px;
}
#about p {
	margin-top: 20px;
	margin-bottom: 30px;
}
#about .about-qa {
	color: #ffc000;
	font-weight: bold;
}
#about .about-qa:hover,
#about .about-qa:focus {
	color: #ffc000;
	text-decoration: underline;
}
#about .bl_about-button {
	margin: 60px 0 10px;
}
#about .bl_movie {
  position: relative;
  width: 100%;
  padding-top: 56.25%;
	margin-top: 60px;
}
#about .bl_movie iframe {
  position: absolute;
  top: 0;
  right: 0;
  width: 100% !important;
  height: 100% !important;
}
#qaModal .modal-body p {
	margin: 20px 0 0;
}
#qaModal .modal-body p:first-child {
	margin: 0;
}
#qaModal .modal-body p span {
	display: inline-block;
	text-indent: -20px;
	margin-left: 20px;
}
/* Feature Section */
#feature {
	padding: 0 0 50px;
	color: #000;
	background: #fff;
}
#feature h2 {
	color: #000;
}
#feature hr {
	background: #ffc000;
}
#feature .bl_feature {
	margin-bottom: 50px;
}
#feature .bl_feature h3 {
	font-weight: bold;
}
#feature .feature-text {
	margin-top: 25px;
}
#feature .bl_feature a {
	color: #ffc000;
}
#feature .bl_feature a:hover {
	text-decoration: underline;
}
#feature .bl_feature-button {
	padding-bottom: 50px;
}
/* Topics Section */
#topics {
	padding: 100px 0;
	background: #ffc000;
}
#topics hr {
	background: #fff;
}
#topics .topics-button {
	text-align: center;
}
#topics .topics-button a {
	display: inline-block;
	margin: 0 10px 25px;
}
#topics .topics-button-corp { 
	min-height: 60px; 
	padding: 14px 16px; 
	font-size: 22px; 
	font-weight: bold; 
	color: #fff;
	border-color: #fff;
	background-color: #000; 
}
#topics .topics-button-moyashi { 
	padding: 8px 10px; 
	font-size: 16px; 
	font-weight: bold; 
	color: #5F3817;
	border-color: #5F3817;
	background-color: #8DC449; 
    text-shadow: 1px 1px 1px #fff, -1px 1px 1px #fff, 1px -1px 1px #fff, -1px -1px 1px #fff;
}
#topics .topics-button-auction { 
	min-height: 60px; 
	padding: 14px 16px; 
	font-size: 22px; 
	font-weight: bold; 
	color: #000;
	border-color: #000;
	background-color: #F43232; 
    text-shadow: 1px 1px 1px #FDC307, -1px 1px 1px #FDC307, 1px -1px 1px #FDC307, -1px -1px 1px #FDC307;
}
#topics .topics-button-blog { 
	min-height: 60px; 
	padding: 14px 16px; 
	font-size: 22px; 
	font-weight: bold; 
	color: #454545;
	border-color: #454545;
	background-color: #efefef; 
}
#topics .topics-button-ashanti { 
	min-height: 60px; 
	padding: 14px 16px; 
	font-size: 22px; 
	font-weight: bold; 
	color: #fff;
	border-color: #fff;
	background: -moz-linear-gradient(to right,#999900,#009900); 
	background: -webkit-linear-gradient(to right,#999900,#009900); 
	background: linear-gradient(to right,#999900,#009900); 
}
/* Roadmap Section */
#roadmap {
	padding: 100px 0;
	background: #ffc000;
	color: #000;
}
#roadmap hr {
	background: #fff;
}
#roadmap .roadmap-desc {
	color: #000;
	margin-bottom: 50px;
}
.timeline {
	position: relative;
	padding: 0;
	list-style: none;
}
.timeline:before {
	content: "";
	position: absolute;
	top: 0;
	bottom: 0;
	left: 40px;
	width: 2px;
	margin-left: -1.5px;
	background-color: #fff;
}
.timeline>li {
	position: relative;
	margin-bottom: 50px;
	min-height: 50px;
}
.timeline>li:before, .timeline>li:after {
	content: " ";
	display: table;
}
.timeline>li:after {
	clear: both;
}
.timeline>li .timeline-panel {
	float: right;
	position: relative;
	width: 100%;
	padding: 0 0 0 100px;
	text-align: left;
}
.timeline>li .timeline-panel:before {
	right: auto;
	left: -15px;
	border-right-width: 15px;
	border-left-width: 0;
}
.timeline>li .timeline-panel:after {
	right: auto;
	left: -14px;
	border-right-width: 14px;
	border-left-width: 0;
}
.timeline>li .timeline-image {
	z-index: 100;
	position: absolute;
	left: 0;
	width: 70px;
	height: 70px;
	margin-left: 0;
	border: 1px solid #fff;
	border-radius: 100%;
	text-align: center;
	background: #fff;
	display: flex;
	justify-content: center;
	align-items: center;
}
.timeline>li .timeline-image h4 {
	font-size: 14px;
	text-transform: uppercase;
}
.timeline>li.timeline-inverted>.timeline-panel {
	float: right;
	padding: 0 20px 0 100px;
	text-align: left;
}
.timeline>li.timeline-inverted>.timeline-panel:before {
	right: auto;
	left: -15px;
	border-right-width: 15px;
	border-left-width: 0;
}
.timeline>li.timeline-inverted>.timeline-panel:after {
	right: auto;
	left: -14px;
	border-right-width: 14px;
	border-left-width: 0;
}
.timeline>li:last-child {
	margin-bottom: 40px;
}
.timeline .timeline-heading h4 {
	margin-top: 0;
	text-transform: uppercase;
	font-size: 16px;
}
.timeline .timeline-heading h2 {
	margin-top: 30px;
}
.timeline .timeline-heading h4.subheading {
	text-transform: none;
	color: #000;
	font-size: 20px;
}
.timeline .timeline-body>p, .timeline .timeline-body>ul {
	margin-bottom: 0;
}
.timeline .timeline-panel {
	display: none;
}
.bl_history-button {
	margin-top: 50px;
}
/* Holding Section */
#holding {
	padding: 100px 0;
	background: #fff;
}
#holding .holding-text {
	text-align: left;
	padding: 0 10px;
}
#holding .holding-text h4 {
	font-weight: 600;
}
#holding .holding-text .holding-yellow {
	color: rgb(255, 205, 86);
}
#holding .holding-text .holding-orange {
	color: rgb(255, 159, 64);
}
#holding .holding-text .holding-red {
	color: rgb(255, 99, 132);
}
#holding .holding-text .holding-purple {
	color: rgb(153, 102, 255);
}
#holding .holding-text .holding-blue {
	color: rgb(54, 162, 235);
}
#holding .holding-text .holding-green {
	color: rgb(75, 192, 192);
}
#holding .holding-text .holding-grey {
	color: rgb(201, 203, 207);
}
#holding .holding-attention {
	margin-top: 50px;
	font-size: 16px;
}
#holding .holding-header {
	font-size: 16px;
}
#holding .holding-chart {
	width: 200px;
	height: 200px;
	margin: 50px auto 25px;
}
#holding .holding-chart .holding-total {
	position: relative;
	width: 80px;
	top: -120px;
	left: 60px;
	font-weight: bold;
}
#holding .table {
	margin: 0 auto 10px;
	width: 290px;
}
#holding .table th {
	text-align: center;
	vertical-align: middle;
}
#holding .table td {
	vertical-align: middle;
}
#holding .holding-lockup-link {
	color: #ffc000;
	font-weight: bold;
}
#holding .holding-lockup-link:hover {
	text-decoration: underline;
}
#holding .modal-body {
	text-align: center;
}
/* Wallet Section */
#wallet {
	padding: 100px 0 0;
	background: #ffc000;
}
#wallet hr {
	background: #fff;
}
#wallet .wallet-button {
	text-align: center;
}
#wallet .wallet-button a {
	display: inline-block;
	margin: 0 10px 25px;
}
#wallet .wallet-button-web {
	height: 52px; 
	padding: 10px 16px; 
	font-size: 22px; 
	font-weight: bold; 
	color: #fff;
	border-color: #330867;
	background: linear-gradient(to right, #30cfd0, #330867); 
}
#wallet .wallet-button-monya {
	width: 200px;
	height: 52px; 
	padding: 10px 16px; 
	font-size: 22px; 
	font-weight: bold; 
	color: #7c5702;
	border-color: #7c5702;
	background-color: #ffeb47;
}
#wallet .wallet-text {
	margin-top: 50px;
	text-align: center;
	word-wrap: break-word;
	color: #fff;
}
#wallet .wallet-text .wallet-text-title {
	font-weight: bold;
	color: #000;
}
#wallet p {
	margin-top: 20px;
	margin-bottom: 30px;
}
#wallet .wallet-electrum {
	padding: 10px 0;
	background-color: #151515;
	border: 1px solid #fff;
	border-radius: 4px;
}
/* Tool Section */
#tool {
	padding: 100px 0;
	background: #ffc000;
}
#tool hr {
	background: #fff;
}
#tool .tool-button {
	text-align: center;
}
#tool .modal-body {
	padding: 25px 15px 0;
	text-align: center;
}
#tool .tool-button a,
#tool .modal a {
	display: inline-block;
	margin: 0 10px 25px;
}
/* Exchange Section */
#exchange {
	padding: 0 0 100px;
	background: #ffc000;
}
#exchange hr {
	background: #fff;
}
#exchange .exchange-image {
	text-align: center;
	padding: 0 15px;
}
#exchange .exchange-image img {
	max-width: 100%;
	margin-bottom: 40px;
	padding: 10px 20px;
	border-radius: 4px;
	box-sizing: border-box;
}
#exchange .exchange-crex24 .logo_crax--1K9QqdOLL5Srb0i1vM3S8l {
	color: #fff;
}
#exchange .exchange-crex24 img {
	min-height: 60px;
	max-height: 80px;
	background-color: #1aa29f;
}
#exchange .exchange-topbtc img {
	min-height: 60px;
	max-height: 80px;
	background-color: #2b2b2b;
}
#exchange .exchange-coinexchange img {
	width: 408px;
	background-color: #f8f8f8;
}
#exchange .exchange-cryptobridge img {
	width: 210px;
	background-color: #111;
}
#exchange .exchange-coinexmarket img {
	width: 210px;
	background-color: #fff;
}
#exchange .exchange-swft-blockchain img {
	min-height: 60px;
	max-height: 80px;
	background-color: #0095ff;
}
#exchange .exchange-cryptaldash img {
	min-height: 60px;
	max-height: 80px;
	background-color: #0a4b98;
}
#exchange .exchange-nusa-exchange img {
	width: 300px;
	background-color: #1e3047;
}
#exchange .exchange-ataix img {
	min-height: 60px;
	max-height: 80px;
	background-color: #302d43;
}
#exchange .exchange-treco img {
	min-height: 60px;
	max-height: 80px;
	background-color: #1b2ad3;
}

/* News Section */
#news {
	padding: 80px 0;
	background: #fff;
}
#news .news-special {
	text-align: center;
	margin-bottom: 50px;
}
.categories {
	padding-bottom: 30px;
	text-align: center;
}
ul.cat li {
	display: inline-block;
}
ol.type li {
	display: inline-block;
	margin-left: 20px;
	margin-bottom: 20px;
}
ol.type li a {
	background: #ffc000;
	color: #fff;
	padding: 6px 14px;
}
ol.type li a.active {
	background: #000;
	color: #fff;
}
ol.type li a:hover {
	background: #000;
	color: #fff;
}
.isotope-item {
	z-index: 2
}
.isotope-hidden.isotope-item {
	z-index: 1
}
.isotope, .isotope .isotope-item {
	/* change duration value to whatever you like */
	-webkit-transition-duration: 0.8s;
	-moz-transition-duration: 0.8s;
	transition-duration: 0.8s;
}
.isotope-item {
	margin-right: -1px;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}
.isotope {
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	-webkit-transition-property: height, width;
	-moz-transition-property: height, width;
	transition-property: height, width;
}
.isotope .isotope-item {
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	-webkit-transition-property: -webkit-transform, opacity;
	-moz-transition-property: -moz-transform, opacity;
	transition-property: transform, opacity;
}
.news-item {
	margin: 15px 0;
	-webkit-transition: all 0.5s ease-out;
	-moz-transition: all 0.5s ease-out;
	-ms-transition: all 0.5s ease-out;
	-o-transition: all 0.5s ease-out;
	transition: all 0.5s ease-out;
}
.news-item:hover {
	-webkit-transform: scale(1.1);
	-moz-transform: scale(1.1);
	-ms-transform: scale(1.1);
	-o-transform: scale(1.1);
	transform: scale(1.1);
}
.news-item .hover-bg {
	height: 260px;
	overflow: hidden;
	position: relative;
}
.hover-bg .hover-text {
	position: absolute;
	text-align: center;
	margin: 0 auto;
	color: #fff;
	background: rgba(0, 0, 0, 0.66);
	padding: 33% 5% 0;
	height: 100%;
	width: 100%;
	opacity: 0;
	transition: all 0.5s;
}
.hover-bg .hover-text>h4 {
	opacity: 0;
	color: #fff;
	font-weight: 400;
	-webkit-transform: translateY(100%);
	transform: translateY(100%);
	transition: all 0.3s;
}
.hover-bg:hover .hover-text>h4 {
	opacity: 1;
	-webkit-backface-visibility: hidden;
	-webkit-transform: translateY(0);
	transform: translateY(0);
}
.hover-bg .hover-text>i {
	opacity: 0;
	-webkit-transform: translateY(0);
	transform: translateY(0);
	transition: all 0.3s;
}
.hover-bg:hover .hover-text>i {
	opacity: 1;
	-webkit-backface-visibility: hidden;
	-webkit-transform: translateY(100%);
	transform: translateY(100%);
}
.hover-bg:hover .hover-text {
	opacity: 1;
}
#news .news-image {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
}
#news .news-image img {
	display: block;
	max-width: 100%;
	max-height: 100%;
}
#news i.fa {
	font-size: 20px;
	padding: 5px;
	color: #E87E04;
}
#news .news-button {
	margin: 20px 0 30px;
	text-align: center;
}
/* Community Section */
#community {
	padding: 100px 0 50px;
	background: #ffc000;
}
#community hr {
	background: #fff;
}
.community-box {
	margin-bottom: 50px;
}
.community-box h4 {
	color: #fff;
	font-size: 20px;
	font-weight: 400;
	margin-left: 5px;
}
.community-box span.count {
	font-size: 52px;
	font-weight: 600;
	display: block;
	color: #000;
	padding: 0;
	margin: 0;
}
.community-box .fab {
	color: #fff;
	transition: all 0.5s;
}
.community-box:hover .fab {
	color: #000;
}
/* Partner Section */
#partner {
	padding: 0 0 100px;
	background: #ffc000;
}
#partner hr {
	background: #fff;
}
#partner .partner-image {
	text-align: center;
	padding: 0 15px;
}
#partner .partner-image div {
	margin-top: 50px;
}
#partner .partner-image div:first-child {
	margin-top: 0;
}
#partner .partner-image img {
	max-width: 100%;
}
/* Supporter Section */
#supporter {
	padding: 0 0 110px;
	background: #ffc000;
}
#supporter hr {
	background: #fff;
}
#supporter .supporter-row {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}
#supporter .supporter-link:hover {
	color: #fff;
}
#supporter img {
	width: 128px;
	height: 128px;
	margin: 0 20px;
	border-radius: 50%;
}
#supporter .supporter-name {
	margin: 10px 0 50px;
	font-size: 18px;
}
/* Character Section */
#character {
	padding: 0 0 100px;
	background: #ffc000;
}
#character hr {
	background: #fff;
}
#character .character-image {
	text-align: center;
}
#character .character-image img {
	width: 520px;
	max-width: calc(100% - 30px);
	padding: 10px;
	background: #fff;
	border-radius: 10px;
}
#character .character-image p {
	margin-top: 10px;
	font-size: 18px;
}
/* Team Section */
#team {
	padding: 100px 0 0;
}
#team .team-community {
	margin: 0 0 30px;
}
#team .team-corporation {
	margin: 30px 0;
}
#team .team-row {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}
#team .team-row > div {
	margin-bottom: 30px;
}
#team .team-image {
	width: 128px;
	height: 128px;
	margin: 0 20px;
	border-radius: 50%;
}
#team .team-takuzo {
	background: url('../img/team/takuzo.png') no-repeat;
	background-size: contain;
}
#team .team-takuzo:hover {
	background: url('../img/team/takuzo_2.png') no-repeat;
	background-size: contain;
}
#team .team-bruin {
	background: url('../img/team/bruin-kun.png') no-repeat;
	background-size: contain;
}
#team .team-ner {
	background: url('../img/team/ner.png') no-repeat;
	background-size: contain;
}
#team .team-1gou {
	background: url('../img/team/1gou.png') no-repeat;
	background-size: contain;
}
#team img {
	width: 128px;
	height: 128px;
	border-radius: 50%;
}
#team .team-name {
	margin: 10px auto;
	width: 128px;
	font-size: 18px;
}
#team .team-position {
	margin: 10px auto;
	font-size: 18px;
}
#team .label {
	background-color: #ffc000;
}
#team .team-row .team-corp img {
	border-radius: 0;
}
#team .team-row .team-corp .button {
	padding: 4px 8px;
	font-size: 10px;
}
/* Contact Section */
#contact {
	padding: 50px 0;
	color: #000;
	background: #fff;
}
#contact h2 {
	color: #000;
}
#contact hr {
	background: #ffc000;
}
#contact h3 {
	padding-top: 20px;
	font-size: 20px;
	font-weight: 400;
	color: #000;
}
#contact form {
	padding: 30px 0;
}
#contact i {
	margin-bottom: 10px;
}
#contact p {
	margin-bottom: 50px;
}
#contact .text-danger {
	color: #ffc000;
	text-align: left;
}
#contact .contact-tweet {
	margin-top: 50px;
}
#contact .contact-blog {
	margin: 50px auto 0;
	max-width: 500px;
}
label {
	font-size: 12px;
	font-weight: 400;
	font-family: 'Open Sans', sans-serif;
	float: left;
}
#contact .form-control {
	display: block;
	width: 100%;
	padding: 6px 12px;
	font-size: 14px;
	line-height: 1.42857143;
	color: #2c3e50;
	background-color: rgba(255,255,255,0.8);
	background-image: none;
	border-radius: 2px;
	-webkit-box-shadow: none;
	box-shadow: none;
	-webkit-transition: none;
	-o-transition: none;
	transition: none;
}
#contact .form-control:focus {
	border-color: inherit;
	outline: 0;
	-webkit-box-shadow: transparent;
	box-shadow: transparent;
}
.form-control::-webkit-input-placeholder {
color: #2c3e50;
}
.form-control:-moz-placeholder {
color: #2c3e50;
}
.form-control::-moz-placeholder {
color: #2c3e50;
}
.form-control:-ms-input-placeholder {
color: #2c3e50;
}
#contact .social {
	margin-top: 10px;
}
#contact .social ul {
	margin: 0;
}
#contact .social ul li {
	display: inline-block;
	margin: 0 20px;
}
#contact .social ul li i {
	margin: 40px 0 0;
}
#contact a {
	transition: all 0.25s;
}
#contact .btn {
	background-color: transparent;
	border: 1px solid #000;
	border-radius: 0;
	padding: 10px 20px;
	color: #000;
	margin-top: 15px;
}
#contact .btn:hover, #contact .btn:focus {
	background-color: #ffc000;
	border: 1px solid #ffc000;
	color: #fff;
}
.btn:active, .btn.active {
	background-image: none;
	outline: 0;
	-webkit-box-shadow: none;
	box-shadow: none;
}
a:focus, .btn:focus, .btn:active:focus, .btn.active:focus, .btn.focus, .btn:active.focus, .btn.active.focus {
	outline: none;
	outline-offset: none;
}
/* Footer Section */
#footer {
	background: #000;
	color: #fff;
	padding: 15px 0 5px 0;
}
#footer p {
	font-size: 13px;
}
#footer .credit a {
	color: #fff;
	text-decoration: underline;
}
#footer .credit a:hover {
	color: #ffc000;
}
#footer .addthis_inline_share_toolbox {
	margin-bottom: 10px;
}
/* Modal */
.modal {
	margin-top: 50px;
	text-align: left;
}
.modal .modal-text {
	text-indent: -15px;
	margin: 15px 0 0 15px !important;
}
.modal .modal-text:first-child {
	margin: 0 0 0 15px !important;
}
/* Button */
.button {
	padding: 10px 20px;
	border: 0;
	border-radius: 4px;
	font-size: 16px;
}
.button.button-bw,
.button.button-by {
	color: #fff;
	background-color: #000;
	border: 1px solid #000;
}
.button.button-bw:hover {
	color: #000;
	background-color: #fff;
}
.button.button-by:hover {
	background-color: #ffc000;
	border: 1px solid #ffc000;
}
/* Media Queries */
@media(min-width:768px) {
.intro {
	height: 100%;
	padding: 0;
	text-align: left;
	color: #fff;
}
.intro H1 {
	font-size: 60px;
	font-weight: 500;
	letter-spacing: -2px;
}
.intro .name {
	font-weight: 600;
}
.intro .intro-text {
	max-width: 75%;
	min-height: 800px;
}
.intro .intro-text p {
	font-size: 20px;
	margin-bottom: 40px;
	margin-top: 20px;
}
section {
	padding: 120px 0;
}
header .intro-text {
	padding-top: 300px;
	padding-bottom: 200px;
}
.timeline:before {
	left: 50%;
}
.timeline>li {
	margin-bottom: 100px;
	min-height: 100px;
}
.timeline>li .timeline-panel {
	float: left;
	width: 41%;
	padding: 0 20px 20px 30px;
	text-align: right;
}
.timeline>li .timeline-image {
	left: 50%;
	width: 100px;
	height: 100px;
	margin-left: -50px;
}
.timeline>li .timeline-image h4 {
	line-height: 18px;
	font-weight: 400;
}
.timeline>li.timeline-inverted>.timeline-panel {
	float: right;
	padding: 0 30px 20px 20px;
	text-align: left;
}
}

@media(min-width:992px) {
#here-me h1 {
	margin: 10px 0 0px;
}
.timeline>li {
	min-height: 150px;
}
.timeline>li .timeline-panel {
	padding: 0 20px 20px;
}
.timeline>li .timeline-image {
	width: 150px;
	height: 150px;
	margin-left: -75px;
}
.timeline>li .timeline-image h4 {
	font-size: 18px;
	line-height: 26px;
}
.timeline>li.timeline-inverted>.timeline-panel {
	padding: 0 20px 20px;
}
}

@media(min-width:1200px) {
.timeline>li {
	min-height: 170px;
}
.timeline>li .timeline-panel {
	padding: 10px 20px 20px 100px;
}
.timeline>li .timeline-image {
	width: 150px;
	height: 150px;
	margin-left: -75px;
}
.timeline>li .timeline-image h4 {
	font-weight: 400;
}
.timeline>li.timeline-inverted>.timeline-panel {
	padding: 10px 100px 20px 20px;
}
}

/* For Smartphone */
@media(max-width:425px) {
.hover-bg .hover-text>h4 {
	opacity: 1;
	-webkit-backface-visibility: hidden;
	-webkit-transform: translateY(0);
	transform: translateY(0);
}
.hover-bg .hover-text>i {
	opacity: 1;
	-webkit-backface-visibility: hidden;
	-webkit-transform: translateY(100%);
	transform: translateY(100%);
}
.hover-bg .hover-text {
	opacity: 1;
}
}
