.container {
	position: relative;
	padding: 0;
}
#nav {
	position: fixed;
	width: 100%;
}
.navbar-brand {
	margin: 0;
	color: #fff;
}
.navbar-back {
	position: absolute;
	right: 0;
	top: 0;
}

#supporter {
	padding: 82px 10px 30px;
}

.card {
	margin: 0 auto;
	width: 300px;
	max-width: 300px;
	min-width: 300px;
	transition-duration: .1s;
}

.card:hover {
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

.card .card-title {
	text-transform: none;
}

.card li:hover {
	background-color: #f5f5f5;
}

.card .card-body img {
	border-radius: calc(.25rem - 1px);
}

.card .card-address {
	font-size: .9rem;
}

.card .card-address a:hover  {
	opacity: .7;
}

.card .card-hp {
	color: #ffc000;
}

.card .card-hp .fas {
	float: right;
	margin-top: 5px;
	font-size: .9rem;
	color: #e0e0e0;
}
